@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  	justify-content: center;
  	border-bottom: 1px solid #e1e1e1;
  	background-color: #fAfAfA;
}

body {
    padding: 10px;
    font-family: sans-serif;
}
h1, h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 30px 0 5px 0;
    padding: 0;
    line-height: 1em;
}
h1 {
    font-size:20px;
    margin-top:0;
}


label {
    padding:0.4em 2em 0.4em 0;
}

.toggle-btn-grp {
    margin:3px 0;
}

.toggle-btn {
    text-align:center;
    margin:5px 2px;
    padding:0.4em 3em;
    color:#000;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #c2e1f5;
    cursor:pointer;
}

.toggle-btn-horz {
    background-color:#c2e1f5;
    border:solid 1px #CCC;
}

.toggle-btn-grp.joint-toggle .toggle-btn {
    margin:0px 0;
    padding:0.4em 2em;
    border-radius:0;
    border-right-color:white;
}

.toggle-btn-grp.joint-toggle.horz .toggle-btn:first-child {
    margin-left:2px;
    border-radius: 10px 0px 0px 10px;
}
.toggle-btn-grp.joint-toggle.horz .toggle-btn:last-child {
    margin-right:2px;
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}

.toggle-btn:hover {
    border:solid 1px #a0d5dc !important;
    background:#f1fdfe;
}

.toggle-btn.success {
    background:lightgreen;
    border:solid 1px green !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.remove-gyp-holder {
  position:relative;
  top:75%;
  left:100%;
  width:0px;
  height:0px;
  background: transparent;
  border: 0;
  outline: none;
}

.conf-gyp-holder{
  position:relative;
  left:22px;
  top:0px;
  width:0px;
  height:0px;
  background: transparent;
  border: 0;
  outline: none;
}

.gyp-x {
  -webkit-appearance: none;
  background: transparent !important;
  border: 0 !important;
  outline: none;
  position:absolute;
  top:0px;
  left:-25px;
  margin:0;
  padding:0;
}

//.box_marker {
//  background: #393;
//  opacity: 0.7;
//  textAlign:center;
//  paddingTop: 20px;
//  border-width: 1px;
//  border-color: #0d0;
//}



.grand-panel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn-conf-high {
    background:#8cd98c;
}

.btn-conf-med {
    background:#ffcc66;
}

.btn-conf-low {
    background:#ff9999;
}

.btn-white-act.success, .btn-white-act.success, .btn-white-act.success,  {
  border-color: rgba(255, 255, 255, 1);
  //color: rgba(255, 255, 255, 1);
}

.cb-no-markers {
  background-color: #0000cc;
  color: #ff00ff;
}

.cb-no-markers.disable {
  color:#dadada;
}

.active-green {
  background:#ffffff;
  border: solid 1px #c2e1f5 !important;
}

.active-green:hover {
    border:solid 1px #a0d5dc !important;
    background:#f1fdfe;
}

.active-green.active {
    background:#c2e1f5;
    border:solid 1px #428bca !important;
}

.arrow_box_container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width:0;
    height:0;
    float: left;
    background-color: red;
    left: 0%;
}

.arrow_box {
    background: rgba(136, 183, 213, 1);
	position: absolute;
    float: left;
	border: 2px solid #c2e1f5;
    //padding: 5px;
    width: 120px;
    //height: 134px;
    top: -14px;
    left: 60px;
    text-align:center;
}

.arrow_box.active {
    background: rgba(136, 183, 213, 1);
	position: absolute;
    float: left;
	border: 2px solid #c2e1f5;
    padding: 5px;
    width: 120px;
    height: 134px;
    top: -138px;
    left: 0;
    text-align:center;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 8%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
    top:99%;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 12px;
	margin-left: -12px;
}

.arrow_box_top {
    background: rgba(136, 183, 213, 1);
	position: absolute;
	border: 2px solid #cc0000;
    padding: 5px;
    text-align:center;
    width: 150px;
    height: 80px;
    top: 95px;
    left: 0;
    z-index: 99 !important;
}

.arrow_box_top.match {
  border: 2px solid #00cc00;
}

.arrow_box_top:after, .arrow_box_top:before {
	top: -20px;
	border: solid transparent;
	content: "";
	position: absolute;
	pointer-events: none;
}

.arrow_box_top:after {
    left:-5px;
    top:-19px;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 10px;
	margin-left: 10px;
}

.arrow_box_top.match:before {
	border-bottom-color: #00cc00;
}

.arrow_box_top:before {
    top:-24px;
    left:-9px;
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #cc0000;
	border-width: 12px;
	margin-left: 12px;
}

.bs-callout {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
    margin:10px;
}

.modal-dialog {
   position: absolute;
   top:150px;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.thank-you-text {
  color: red;
  font-size: 24pt;
}
