@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  	justify-content: center;
  	border-bottom: 1px solid #e1e1e1;
  	background-color: #fAfAfA;
}

body {
    padding: 10px;
    font-family: sans-serif;
}
h1, h2 {
    font-weight: bold;
    font-size: 16px;
    margin: 30px 0 5px 0;
    padding: 0;
    line-height: 1em;
}
h1 {
    font-size:20px;
    margin-top:0;
}


label {
    padding:0.4em 2em 0.4em 0;
}

.toggle-btn-grp {
    margin:3px 0;
}

.toggle-btn {
    text-align:center;
    margin:5px 2px;
    padding:0.4em 3em;
    color:#000;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #CCC;
    cursor:pointer;
}

.toggle-btn-horz {
    background-color:#FFF;
    border:solid 1px #CCC;
}

.toggle-btn-conf-high {
    background-color:#8cd98c;
}

.toggle-btn-conf-med {
    background-color:#ffcc66;
}

.toggle-btn-conf-low {
    background-color:#ff9999;
}

.toggle-btn-grp.joint-toggle .toggle-btn {
    margin:0px 0;
    padding:0.4em 2em;
    border-radius:0;
    border-right-color:white;
}

.toggle-btn-grp.joint-toggle.horz .toggle-btn:first-child {
    margin-left:2px;
    border-radius: 10px 0px 0px 10px;
}
.toggle-btn-grp.joint-toggle.horz .toggle-btn:last-child {
    margin-right:2px;
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}


.toggle-btn:hover {
    border:solid 1px #a0d5dc !important;
    background:#f1fdfe;
}


.toggle-btn.success {
    background:lightgreen;
    border:solid 1px green !important;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
    margin: 0 auto;
    width: 150px;
    top: -13%;
    left: 0%;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 16px;
	margin-left: -16px;
}
